[Unit]
Description=first-responder

[Service]
User=content-api
Group=content-api
Restart=no
Environment='HOME=/home/content-api'
Environment='JAVA_OPTS=-Xmx512m -Xms512m -XX:+UseConcMarkSweepGC -XX:NewRatio=2 -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/home/content-api/logs/gc.log -XX:ReservedCodeCacheSize=64m -Dconfig.file=/etc/gu/content-api-first-responder.conf'
WorkingDirectory=/home/content-api
ExecStart=/home/content-api/content-api-first-responder/bin/content-api-first-responder

[Install]
WantedBy=multi-user.target
