@main-color: #B51800;

html, body, .container-fluid.wrapper, .row.wrapper {
    height: 100%;
}

h2
{
	color:#FFFFFF;
	font-size: 16pt;
}

.sidebar
{
	position:relative;	
	background-color: @main-color;
	height:100%;
}

.sidebar .nav-sidebar
{
	padding:20px;
}

.main-content
{
	height:100% !important;
	margin: 20px;
}