@main-color: #B51800;
@secondary-color: #ffbb00;
@item-color: #EEEEEE;
@item-hover-color: #CCCCCC;
@header-text-color: #333;
@text-color: #666666;

html, body, .container-fluid.wrapper, .row.wrapper {
    height: 100%;
}

a:hover
{
	text-decoration: none !important;
	cursor: pointer;
}

h1
{
	color: @header-text-color;
	font-size: 16pt;
	margin-bottom:25px;
}

h2
{
	color:#FFFFFF;
	font-size: 16pt;
}

h3
{
	color: @text-color;
	font-size: 12pt;
}

.sidebar .nav-sidebar
{
	padding:10px 20px 20px 20px;
}

@media (min-width: 768px) 
{    
	.sidebar
	{
		position:relative;	
		background-color: @main-color;
		height:100%;

		position: fixed;
	    top: 0px;
	    bottom: 0;
	    left: 0;
	    z-index: 1000;
	    display: block;
	    overflow-x: hidden;
	    overflow-y: auto;
	}
	.main-content
	{
		height:100% !important;
		margin: 20px;
	}
	.sidebar .nav-sidebar
	{
		padding:10px 20px 20px 20px;
	}
}

@media (max-width: 768px) {
    .sidebar
	{
		background-color: @main-color;
	}

	.main-content
	{
		height:auto;
		margin: 20px;
	}
	.sidebar .nav-sidebar
	{
		padding:5px 10px 10px 10px;
	}
}

.trail
{
	color: @text-color;
	p
	{
		text-decoration: none;
		color: @text-color;
	}
	.image
	{
		background-type: cover;
		background-repeat: no-repeat;
		height:150px;
	}
	.body
	{
		height:150px;
		overflow: none;
	}
	.caption
	{
		padding: 10px;
	}
}
.trail:hover
{
	color: @text-color;
	p
	{
		text-decoration: none !important;
		color: @text-color;
	}
	.trail-content
	{
		background-color: @item-hover-color;
	}
}

.trail-content
{
	background-color: @item-color;
	padding: 2px;
	margin-bottom:10px;
}

.datetime
{
	display:none;
}

.nav.nav-stacked 
{
	margin-top: 30px;
}

.nav.nav-sidebar li a
{
	color: #FFFFFF;
	padding: 0px;
	margin-bottom:10px;

}

.nav.nav-sidebar li a:hover
{
	color: #FFFFFF;
	background: none !important;
}

.action-bar
{
	position: fixed;
	height: 50px;
	bottom: 0px;
}

.widget
{
	margin-top: 15px;
	border-top: 3px solid @main-color;
	font-family: 'Merriweather', serif;
	padding:10px 25px 10px 25px ;
	color: @text-color;
	background-color: #f6f6f6;

	h1
	{
		font-size:14pt;
		color: @header-text-color;
	}
}

.contribution
{
	margin-top:15px;
	padding-top:15px;
	border-top: 1px solid #EEEEEE;

	.subject
	{
		font-weight: bold;
	}
	.body
	{
		margin-top:10px;
	}
	.media 
	{
		margin-top:15px;
		padding-top:15px;
		border-top: 1px solid #EEEEEE;

		img{
			width:100%;
		}
	}
}

.mute
{
	color: #CCCCCC;
}

.hidden
{
	display:none;
}