@(callout: Callout, formstackEmbed: Option[Html])

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Callout Widget</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div class="container-fluid">
      <div class="row wrapper">
        <div class="col-sm-12 col-md-12 ">
            <div class="widget">
              <h1>Send us your story - #@callout.hashtag</h1>
                <div class="description">@callout.description</div>
                <p>          
                  <a class="btn btn-primary" href="mailto:@callout.hashtag@@sandboxb581b83d5fc3420982d2af09f3b2f7df.mailgun.org" >Send us an email</a>
                  <div class="info">Any image and video attachments will be received</div>
                </p>               
                <p>
                  <a class="btn btn-primary" href="sms:+441464254016&body=@callout.hashtag" target="_blank">Text us +44 (0)1464 254016</a>
                  <div class="info">Add "<b>@callout.hashtag</b>"" as the first word of your text message</div>
                </p>
                <p>
                  <a class="btn btn-primary" href="https://twitter.com/intent/tweet?text=@@guardian%20%23@callout.hashtag" target="_blank">Tweet us @@guardian #@callout.hashtag</a>
                </p>       
                <p>
                  <a class="btn btn-primary" href="https://witness.theguardian.com/assignment/submitastory#contribute" target="_blank">Submit via GuardianWitness</a>
                </p>
                <p>
                  <a class="btn btn-primary" href="javascript:jQuery('#formstack-embed').toggleClass('hidden');">Submit via simple form</a>
                </p>
                <div id="formstack-embed" class="hidden">
                @formstackEmbed
                </div>
            </div>
        </div>
      </div>
    </div>
    </body>
</html>
