@(callout: Callout)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Callout Widget</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div class="container-fluid">
      <div class="row wrapper">
        <div class="col-sm-12 col-md-12 ">
            <div class="widget">
              <h1>Can you help us? #@callout.hashtag</h1>
                <p>@callout.description</p>

                <p>
                  Email us and attach any photos
                  <a href="mailto:response-@callout.hashtag@@gu.com">response-@callout.hashtag@@gu.com</a>
                </p>
                <p>
                  Tweet us
                  <a href="https://twitter.com/intent/tweet?text=@@guardian%20%23@callout.hashtag" target="_blank">@@guardian #@callout.hashtag</a>
                </p>
                <p>
                  <a href="">Complete our submission form</a>
                </p>
                <p>
                  <a href="https://witness.theguardian.com/assignment/submitastory#contribute" target="_blank">Submit via GuardianWitness</a>
                </p>

            </div>
        </div>
      </div>
    </div>
    </body>
</html>
